/* body{
    background-color: rgb(228, 218, 218);
}
.nav img{
    margin-top: 50px;
    
}
.nav li{
    list-style: none;
    color: black;
    

    border: 2px solid red;
    float: right;
    margin-right: 200px;
    margin-top: 50px;
    
}

.nav li a{
    
    color: white;
    margin: 0px 20px;
    text-decoration: none;
}

.nav li a:hover{
    color: brown;
    
}
.nav li a:active{
    color: lightblue;
    
} */

.navbar img{
  border-radius: 25px;
  margin-left: 50px;
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* .navbar-logo {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  } */
  
  .navbar-links {
    display: flex;
    gap: 10px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
  }
  
  .navbar-link:hover,
  .navbar-link:focus {
    color: lightblue;
  }


  

  
 

  .carousel {
    margin-top: 30px;
    margin-left: 440px;
    width: 440px;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .carousel .buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    
    
    border-radius: 120px;
    transform: translateX(-50%);
  }
  .buttons .nextBtn{
    cursor: pointer;
  }
  
  

  .section-heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .card {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 600px;
    background-color: #ccc;
  }

  #card1{
    margin-left: 600px;
   
   
  }
  #card2{
    margin-left: 100px;
    margin-top: -200px;
  }
  #card3{
    margin-left: 600px;
    margin-top: -200px;
  }
  
  .card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 200px;
  }
  
  .card-text {
    padding: 5px;
  }
  
  .card-link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .section-heading {
    text-align: center;
    margin-bottom: 30px;
  }

  .work{
    width: 100%;
    background-color: whitesmoke;
    
    /* border: 2px solid black; */
  }
  
  .step {
    display: inline-block;
    
    width: 15%;
    height: 15%;
    margin: 100px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .step img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .step-text {
    padding: 20px;
  }
  
  .step-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
  }

  .clients{
    background-color: #f8f3f3;
  }

  .section-heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .review-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .review-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .review-card-text {
    max-width: 500px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
  }

  .footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .logo {
    display: inline-block;
    font-weight: bold;
  }
  
  .logo img {
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
  }
